@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap");
@import "./reponsive/ipad_max768.css";
@import "./reponsive/iphoneX_max375.css";
@import "./reponsive/desktop_max1050.css";
@import "./reponsive/responsive.css";

html {
  background: #5a5454;
}

body {
  margin: 0;
  /* height: 100vh; */
  color: #353535;
}
svg {
  margin-bottom: 3px;
}
#root {
  height: 100%;
}
tbody, td, tfoot, th, thead, tr {
  vertical-align: middle;
}
.container_dashboard {
  background-color: #fff;
  height: 100vh;
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.container_dashboard .main-content {
  padding: 24px;
  margin: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f1f4f5;
  overflow-y: auto;
}

.header-text-sidebar {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper,
.modal_chapters,
.custom-dialog {
  font-family: "Baloo 2", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.form {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
  margin-top: 20px;
  display: grid;

}

label,
input {
  float: left;
}

#notify {
  position: relative;
}

#notify .notify-list {
  font-size: 16px;
  position: absolute;
  min-width: 350px;
  max-height: 550px;
  overflow-y: scroll;
  width: 100%;
  top: 110%;
  /* left: 0; */
  right: 0;
  z-index: 9999;
  background-color: #161616;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

#notify .notify-list::-webkit-scrollbar {
  width: 4px;
}

#notify .notify-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

#notify .notify-list::-webkit-scrollbar-thumb {
  background: #888;
  transition: all 0.3s;
  border-radius: 10px;
}

#notify .notify-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#notify .notify-title {
  position: relative;
}

#notify .notify-title .notify-count {
  background-color: red;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 2px 5px;
  min-width: 16px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(-50%);
}

#notify .notify-list .notify-item {
  transition: all 0.3s;
}

#notify .notify-list .notify-link {
  display: block;
  width: 100%;
  padding: 15px 8px;
}

#notify .notify-list .notify-link .notify-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#notify .notify-list .notify-link .notify-user-img {
  max-width: 50px;
  width: 100%;
  border-radius: 50%;
}

.nav-item,
.reply-btn {
  cursor: pointer;
}

.reply-btn {
  display: inline-block;
  background-color: #34b158;
  color: #fff;
  padding: 0px 8px;
  border-radius: 5px;
}

#notify .notify-list.active {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

#notify .notify-list .notify-link .notify-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
  text-align: left;
  margin-left: 8px;
  font-size: 13px;
}

#notify .notify-list .notify-link .notify-time {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  color: #2e89ff;
}

#notify .notify-list .notify-item.empty {
  padding: 15px 8px;
}

#notify .notify-list .notify-link .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2e89ff;
}

.form-label {
  margin-bottom: 0 !important;
}

.form-group {
  text-align: right;
  margin-bottom: 10px;
}

.invalid-feedback {
  float: right;
}

.custom-control {
  font-weight: 300;
  font-size: smaller;
}

.custom-control-label {
  font-weight: 400;
  margin-left: 7px;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff !important;
}

.btn {
  margin: 10px 0 5px 0 !important;
}

.here {
  color: #0d6efd !important;
}

.flex-remember {
  display: flex;
  justify-content: space-between;
}

.form-check-label {
  margin-left: 5px;
}

.col-4,
.col-8 {
  border: 1px solid rgb(250, 240, 240);
}

ul {
  list-style-type: none;
}

.nav-li {
  float: left;
  text-align: left;
  padding: 10px;
  width: 100%;
}

li:hover {
  background-color: #54655f;
}

.custom-row {
  margin-top: 20px;
  color: #ffffff;
}

.custom-h3 {
  float: left;
}

.custom-form-text {
  padding: 20px;
  padding-left: 50px;
  display: grid;
}

.btn-block {
  margin-top: 30px;
}

.input-text {
  margin-bottom: 10px;
}

/* ==============================Detail comic============================== */
.container-detail {
  background-color: #2d2d2d;
  padding: 10px;
}

.content {
  color: #ffffff;
  margin: auto;
}

.title_comic {
  margin-bottom: 0;
  color: #ccc !important;
  font-weight: 600;
  padding: 13px;
  background: #000;
  font-size: 17px;
  text-align: center;
  border-top: 1px solid #437d44;
  font-family: "Baloo 2", serif;
}

.head {
  display: flex;
  align-items: center;
}

.comic_bg {
  background-color: #404040;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.head .head_left {
  width: 19%;
  padding: 5px;
  background-color: black;
}

.head img {
  width: 100%;
  display: block;
}

.head .head_right {
  padding-left: 10px;
  width: 80%;
  font-size: 13px;
}

.head .head_right>div {
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  /* align-items: center; */
  font-family: "Baloo 2", sans-serif;
}

.type {
  background: #000;
  flex: 0.2;
  padding: 12px 5px;
}

.item {
  background: #446784;
  padding: 12px 5px;
  flex: 0.8;
}

.item>a {
  background: #4e4949;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 2px;
  display: inline-flex;
}

.fa-book-reader {
  color: #ffffff;
}

.content .button {
  display: flex;
  align-items: center;
}

.content .button .head_left {
  flex: 1;
  display: flex;
}

.content .button .head_left a {
  background: #45965e;
  padding: 14px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  margin: 2px;
}

.content .button .head_left a:first-child {
  background: #b96060;
}

.content .button .head_left a:hover {
  opacity: 0.5;
}

.icon {
  font-size: 20px;
  margin-bottom: 4px;
}

.icon_star {
  font-size: 32px;
  margin: 2px;
  color: #ffe290;
}

.rating {
  display: flex;
}

/* body_comc */

.content .body {
  display: flex;
  justify-content: space-between;
}

.list_chap {
  flex: 0.3;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.comic_bg .heading {
  padding-bottom: 5px;
  font-size: 17px;
  color: #ff9090;
  font-family: "Baloo 2", serif;
}

.desc .heading {
  margin: 0;
}

.list_item_chap a {
  background: #313131;
  text-align: center;
  border-color: #4e4e4e;
  padding: 6px 3px;
  border-style: solid;
  font-size: 13px;
  /* width: 25%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_item_chap a span:last-child {
  font-size: 8px;
  color: #a09c9c;
}

.list_item_chap a:hover {
  background-color: #794b4b;
}

.content .body .desc {
  flex: 0.69;
  color: #ffe290;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}

.comment_fb {
  min-height: 300px;
  background: #fbfbfb;
}

.content .footer {
  color: #000;
}

.list_item_chap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 295px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

/* width */
.list_item_chap::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list_item_chap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(214 212 212 / 30%);
}

/* Handle */
.list_item_chap::-webkit-scrollbar-thumb {
  background: #794b4b;
}

/* ===================Modal=================== */

.modal-body {
  font-size: 18px !important;
  display: flex;
  justify-content: space-between;
  padding-right: 20px !important;
}

.custom-dialog {
  top: 3% !important;
  left: 27% !important;
}

.fa-check-circle {
  font-size: 25px;
  color: rgb(68, 0, 255);
}

.close {
  font-size: 20px;
  margin-top: 2px;
  color: #404040;
}

.error {
  font-size: 27px;
  color: red;
}

.star {
  cursor: pointer;
}

.stars_radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* reset password css */
.reset-pw-wrapper {
  background-color: #1d1c1c;
  padding: 15% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-pw-form {
  max-width: 500px;
  background-color: #fff;
  padding: 24px 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
}

#btn-confirm {
  float: left;
  margin-top: 8px;
  background-color: #212529;
  outline: none;
  border: none;
}

.alert-reset-pw {
  padding: 0 15%;
}

.feedback {
  text-align: left;
  color: #dc3545;
  font-weight: 100;
}

/* ================================CHAPTER================================ */
.chapter_content {
  background-color: #323131 !important;
}

.chapter_content .button {
  display: flex;
  justify-content: center;
}

.chapter_content .button .btn-nav {
  background-color: #926060;
  margin: 5px;
  border-radius: 0;
  border-color: #926060;
  padding: 10px;
  box-shadow: none;
  color: #fff;
}

.chapter_content .button .btn-nav:hover {
  opacity: 0.7;
}

.width {
  width: 100%;
}

.chapter_img {
  padding: 20px;
}

.chapter_img img {
  width: 100%;
  object-fit: cover;
}

.chapter_content .nav_top {
  margin: 10px 10px;
  padding: 5px 10px;
  background-color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.chapter_content .nav_fixed {
  position: sticky;
  top: -0.5px;
  border-radius: 0;
  margin: 0;
}

.chapter_content .nav_top>div:first-child {
  padding: 7px;
  font-size: 18px;
  font-weight: 100;
  font-family: "pridi", serif;
  color: #ccc;
  display: flex;
  justify-content: space-between;
}

.chapter_content .nav_top>div>div {
  margin-right: 5px;
}

.chapter_content .nav_top .icon_content {
  padding-top: 5px;
  /* margin-right: 10px; */
}

.chapter_content .nav_top .icon_content .icon {
  color: #ffff;
  margin-left: 10px;
  font-size: 30px;
}

.chapter_content .nav_top .icon_content .icon:hover {
  opacity: 0.7;
}

.icon_scroll_to_top {
  margin-top: 2px;
}

/* ========modal chapter========== */

.modal_chapters {
  top: 25% !important;
}

.modal_chapters.fade {
  transition: top 0.3s ease 0s !important;
}

.modal_chapters .modal-content {
  background: linear-gradient(to right, #434343, #000000);
  color: #fff;
  border-width: 0;
}

.modal_chapters .modal-body {
  display: inline-block;
  padding: 10px;
  padding-right: 0 !important;
}

.modal_chapters .modal-header {
  font-size: 20px;
  padding-bottom: 0;
  border-width: 0;
}

.modal_chapters .modal-header .btn_close {
  background-color: firebrick;
  color: #fff;
  padding: 0 8px 3px 8px;
}

.modal_chapters .modal-header .btn_close svg {
  stroke-width: 7;
  font-size: 25px;
}

.modal_chapters .list_item_chap {
  padding: 0;
  padding-right: 10px;
  margin-right: 10px;
}

.modal_chapters .list_item_chap a span:last-child {
  font-size: 13px;
  color: #ffff;
}

.list_item_chap a.active {
  background-color: #ce6464 !important;
}

.list_item_chap a.readChap {
  background-color: #000 !important;
}

.comic_title {
  color: #f88383;
  text-align: start;
  font-size: 19px;
  padding: 5px 0;
  font-weight: 600;
  margin-left: 10px;
}

.comic_title svg {
  margin-right: 10px;
}

.slider_comic {
  width: 100% !important;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
}

.slider_comic .slick-arrow {
  display: none !important;
}

.slider_comic .list-comic-item {
  width: 100%;
}

.slick-list {
  margin: 10px !important;
}

.slick-dots {
  z-index: 999;
  margin: -5px 0 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #ffff !important;
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 10px !important;
}

.slick-dots li {
  margin: 0 !important;
}

/* @media (min-width: 576px) {
  .modal_chapters .modal-dialog {
    max-width: 600px;
  }
} */
.comment-box-title {
  font-size: 20px;
  color: white;
}

/* profile */
.profile {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.profile div:first-child {
  flex: 0.7;
  /* margin-right: 15px; */
}

.form-profile {
  margin-left: 10px;
}

.profile div:first-child img {
  width: 100%;
  object-fit: contain;
}

.custom_image {
  width: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.profile div:last-child {
  flex: 1.2;
}

ol,
ul {
  padding-left: 0 !important;
}

.column-comic-name {
  color: black !important;
}

.progress {
  height: 1.5rem !important;
}

.dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-nav-bar {
  padding: 10px;
  font-size: 25px;
  color: white;
  background: #1d1d1d;
}
.btn-all-cmt {
  background: none;
  outline: none;
  color: rgb(59, 130, 246);
}